<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>416673567294-om77ats9bfj5v1lchkssjqfaub3l9gka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416673567294-om77ats9bfj5v1lchkssjqfaub3l9gka</string>
	<key>API_KEY</key>
	<string>AIzaSyDSRDtamU_0mSpRDDv-XyxEKv17-q_avgU</string>
	<key>GCM_SENDER_ID</key>
	<string>416673567294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shy7lo.shy7lo</string>
	<key>PROJECT_ID</key>
	<string>shy7lo-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>shy7lo-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:416673567294:ios:6d0e4cf4b41faa93</string>
	<key>DATABASE_URL</key>
	<string>https://shy7lo-ios.firebaseio.com</string>
	<key>TRACKING_ID</key>
	<string>UA-51821699-1</string>
</dict>
</plist>
